<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ToDo_list</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css')}}" />
</head>

<body>
    <h1>TODO-List</h1>
    <form action="{{ url_for('add') }}" method="post" id="int-tex">
        <label>Add a new todo item:</label>
        <input type="text" name="todoitem">
        <input type="submit">
    </form>
    <div id="task-inc">
        <h3>Incomplete Task</h3>
        <ul>
            {% for task in incomplete %}
            <li>
                {{task}}
                <a href="{{ url_for('complete', task=task) }}">Mark as complete</a>
            </li>
            {% endfor %}
        </ul>
        <h3>Completed Task</h3>
        <ul>
            {% for task in complete %}
            <li>
                {{task}}
                <a href="{{ url_for('undo', task=task) }}">Undo</a>
            </li>
            {% endfor %}
        </ul>
        <a id="clear-link" href="{{ url_for('clear') }}">Clear</a>
    </div>

</body>

</html>