body {
    background-color: rgb(0, 255, 200);
}

h1 {
    margin: 1em 35% 2em 43%;
    font-style: oblique;
    text-shadow: 3px 1px 5px;
}

#int-tex {
    margin: 0em 25% 0em 35%;
    font-size: 1.7em;
    font-style: italic;
}

#task-inc {
    padding-left: 35%;
    font-size: 1.2em;
    font-style: italic;
}

#clear-link {
    font-size: 1.2em;
    font-style: italic;
}